* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

/* navbar */
.navbar {
    background: rgba(130,0,0,1);
}

.nav-link , .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
    padding-left: 20px;
}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: rgba(130,0,0,1);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background:#fff !important;
}

.navbar-toggler-icon {
    color: #fff;
}

.fa-bars {
    font-size: 1.5rem;
}

/* header */
.header-container {
    width: 100%;
    background: linear-gradient(to bottom, rgba(130,0,0,1) 0%, rgba(176,0,0,1) 100%);
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
}
.eye-border {
    border: 10px double;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: #fff9de;
    background: radial-gradient(circle at bottom left, transparent, transparent 23px, #fff9de 23px, #fff9de 25px, transparent 25px, transparent 28px, #fff9de 28px, #fff9de 30px, transparent 30px, transparent 33px, #fff9de 33px, #fff9de 40px, transparent 40px, transparent) bottom left,
    radial-gradient(circle at top right, transparent, transparent 23px, #fff9de 23px, #fff9de 25px, transparent 25px, transparent 28px, #fff9de 28px, #fff9de 30px, transparent 30px, transparent 33px, #fff9de 33px, #fff9de 40px, transparent 40px, transparent) top right,
    radial-gradient(at top left, transparent, transparent) top left,
    radial-gradient(at bottom right, transparent, transparent) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.header_left {
    width: 225px;
    height: 200px;
    border-radius: 50% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;    
}

.social-container {
    padding: 0 10px;
    /* width: 60px;
    height: 150px; */
}

.social-contacts {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /* flex-direction: column; */
    color: #ccc;
    font-size: 1.5rem;
}

.social-contacts li {
    list-style: none;
    padding: 3px;
    margin: auto;
    /* border: 2px solid transparent; */
    /* border-radius: 50% 0; */
}

.social-contacts a{
    color: #fff9de;
    font-size: 1.5rem;
}

.page-container {
    display: flex;
    align-content: flex-start;
}

#page-container__about {
    padding: 20px;
    width: 100%;
}

.hide {
    display: none;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.content_section {
    animation: 1s ease-out 0s 1 slide;
    -moz-animation: 1s ease-out 0s 1 slide;
    -webkit-animation: 1s ease-out 0s 1 slide;      
}
/* About Me page */

.about_image_div {
    width: 20%;
    margin: 10px;
    float: right;
}

.about_image {
    max-width: 350px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Portfolio page */

#page-container__portfolio {
    padding: 20px;
    width: 100%;
    min-width: 300px;
}

.development_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 10px double #111;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.project {
    width: 200px;
    height: 200px;
    margin: 15px;
    box-shadow: 2px 2px 10px #e43;
    border-radius: 15px;
    border: solid 10px rgba(31, 31, 31, .3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    cursor: pointer;
    position:relative;
}

.project:hover {
    box-shadow: 8px 10px 15px #e43;
}

.project:hover::after {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 180px;
    height: 140px;
    background-color: rgba(16,16,16,.7);
    color: #fff9de;
    font-size: 0.9rem;
    text-align: center;
    z-index: 10;
}

.project[data-descr]:hover::after {
    content: attr(data-descr);
}

.development_text {
    width: 100%;
    height: 40px;
    font-size: 0.9rem;
    background-color: maroon;
    border: 2px solid #111;
    text-align: center;
    color: #fff9de
}

.port_thumb {
    width: 100%;
    height: 140px;
}

/* Resume page */

#page-container__resume {
    padding: 20px;
    width: 100%;
    min-width: 300px;
}

.resume-heading {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom-style: double;
    border-bottom-width: 6px;
    border-bottom-color: #666;
    color: #111;
}

.pdf-icon {
    float: right;
    font-size: 0.9rem;
    font-weight: normal;
}

.resume-section {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    color: #111;
}

.resume-section a {
    font-size: 1rem;
    color: #111;
}

.job-date {
    font-style: italic;
}

.job-descr, .job-title, .job-company {
    margin: 0 0 0 135px;
    padding: 0 0 0.5em 0;
    font-size: 1rem;
}

.job-title {
    font-style: italic;
}

.comptia-logo {
    width: 50%;
}

@media screen and (max-width: 413px) {
    /* Universal Styles */ 

    .navbar {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-container {
        margin-top: 5rem;
        flex-direction: column;
        justify-content: center;
    }

    .social-container {
        width: 225px;
        height: 42px;
        margin: 0 auto;
    }
    
    .social-contacts {
        flex-direction: row;
    }

    .header_left {
        margin: 0 auto;
    }

    .job-date {
        clear: left;
        width: 120px;
        text-align: center;
    }

    .job-descr, .job-title, .job-company {
        margin: 5px;
    }

}
    
@media screen and (min-width: 414px) {
    /* Universal Styles */

    .navbar-toggler-icon {
        visibility: hidden;
    }

    .header-container {
        margin-top: 3rem;
        flex-direction: row;
        justify-content: flex-start;
    }

    .social-container {
        width: 60px;
        height: 150px;
    }

    .social-contacts {
        flex-direction: column;
    }

    .job-date {
        float: left;
        clear: left;
        width: 120px;
        text-align: right;
    }

    .job-descr, .job-title, .job-company {
        margin: 0 0 0 135px;
    }

}