* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.header-container {
    width: 100%;
    background-color: maroon;
    padding: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}
.eye-border {
    border: 10px double;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: #fff9de;
    background: radial-gradient(circle at bottom left, transparent, transparent 23px, #fff9de 23px, #fff9de 25px, transparent 25px, transparent 28px, #fff9de 28px, #fff9de 30px, transparent 30px, transparent 33px, #fff9de 33px, #fff9de 40px, transparent 40px, transparent) bottom left,
    radial-gradient(circle at top right, transparent, transparent 23px, #fff9de 23px, #fff9de 25px, transparent 25px, transparent 28px, #fff9de 28px, #fff9de 30px, transparent 30px, transparent 33px, #fff9de 33px, #fff9de 40px, transparent 40px, transparent) top right,
    radial-gradient(at top left, transparent, transparent) top left,
    radial-gradient(at bottom right, transparent, transparent) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.header_left {
    width: 225px;
    height: 200px;
    border-radius: 50% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;    
}

.header-banner {
    flex-grow: 1;
    min-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: #ccc;
    font-size: 2rem;
}

.header-contacts li {
    list-style: none;
    padding: 10px;
    border: 1px solid maroon;
    border-radius: 50% 0;
}

.header-contacts li:hover {
    border-color: #fff9de;
}

.header-contacts a{
    color: #fff9de;
    font-size: 2rem;
}

.header-contacts a:hover{
    color: #fff9de;
}

.marquee {
    height: 100px;
    width: 500px;
    border-radius: 45px 0 45px 0;
    display: flex;
    flex-direction: row;
}

.marquee p {
    margin: auto;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff9de;
}

.subname_banner {
    width: 500px;
    font-size: 1rem;
    color: #fff9de;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Navigation menu */
.nav {
    background-color: #fff9de;
    width: 225px;
    height: 100%;
    text-align: right;
    border-bottom: 20px solid maroon;
    border-bottom-right-radius: 10px;
}

.nav li {
    padding: 5px;
    font-size: 2rem;
    width: 100%;
    border-right: 20px solid maroon;
}

.nav li:hover {
    background-color: #fff9de;
    background-image: radial-gradient(circle at top left, maroon, #e43 2px, transparent 2px, transparent 8px, maroon 8px, #e43 10px, transparent 10px, transparent 16px, maroon 16px, #e43 18px, transparent 18px, transparent 24px, maroon 24px, #e43 26px, transparent 26px, transparent 32px),
    radial-gradient(circle at bottom left, maroon, #e43 2px, transparent 2px, transparent 8px, maroon 8px, #e43 10px, transparent 10px, transparent 16px, maroon 16px, #e43 18px, transparent 18px, transparent 24px, maroon 24px, #e43 26px, transparent 26px, transparent 32px);
    border-right-width: 2px;
}

.nav a {
    text-decoration: none;
    font-family: Oswald;
    color: maroon;
    width: 100%;
    height: 40px;

}

.page-container {
    display: flex;
    align-content: flex-start;
}

#page-container__about {
    padding: 20px;
    width: 75%;
}

.hide {
    display: none;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.content_section {
    animation: 1s ease-out 0s 1 slide;  
}

/* Portfolio page */

#page-container__portfolio {
    padding: 20px;
    width: 75%;
}

.development_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 10px double #111;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.project {
    width: 200px;
    height: 200px;
    margin: 15px;
    box-shadow: 2px 2px 10px #e43;
    border-radius: 15px;
    border: solid 10px rgba(31, 31, 31, .3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    cursor: pointer;
    position:relative;
}

.project:hover {
    box-shadow: 8px 10px 15px #e43;
}

.project:hover::after {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 180px;
    height: 140px;
    background-color: rgba(16,16,16,.7);
    color: #fff9de;
    font-size: 0.9rem;
    text-align: center;
    z-index: 10;
}

.project[data-descr]:hover::after {
    content: attr(data-descr);
}

.development_text {
    width: 100%;
    height: 40px;
    font-size: 0.9rem;
    background-color: maroon;
    border: 2px solid #111;
    text-align: center;
    color: #fff9de
}

.port_thumb {
    width: 100%;
    height: 140px;
}

.css_examples_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.css_examples_header {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.css_examples_header p {
    font-size: 1rem;
}

.css_examples_text {
    font-size: 0.9rem;
    background-color: #e43;
    border: 2px solid #111;
    text-align: center;
    color: #fff9de
}

.css_examples {
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: 5px 5px 10px #911;
    border-radius: 50% 50% 50% 0;
    border: 5px solid #ffc21f;
    border-left-width: 10px;
    border-bottom-width: 10px;
}
  
.css_examples:hover {
    box-shadow: 8px 10px 15px #e43;
}
  
.css_examples:nth-child(1){
    background-color: rgba(0,104,24,1.0);
    background-image: repeating-linear-gradient(50deg, transparent, transparent 2px, rgba(0,104,24,.4) 2px, rgba(0,104,24,.4) 3px, transparent 3px, transparent 5px, rgba(0,104,24,.4) 5px),
    repeating-linear-gradient(rgba(200,0,0,.7), rgba(200,0,0,.7) 2px, rgba(44,44,128,.5) 2px, rgba(44,44,128,.5) 12px, transparent 14px, transparent 15px, rgba(44,44,128,.5) 15px, rgba(44,44,128,.5) 16px, transparent 16px, transparent 31px, rgba(16,16,16,.7) 31px, rgba(16,16,16,.7) 32px, transparent 32px, transparent 47px, rgba(16,16,16,.7) 47px, rgba(16,16,16,.7) 48px, transparent 48px, transparent 49px, rgba(16,16,16,.7) 49px, rgba(16,16,16,.7) 60px, rgba(200,0,0,.7) 60px, rgba(200,0,0,.7) 61px, rgba(16,16,16,.7) 61px, rgba(16,16,16,.7) 72px, transparent 72px, transparent 73px, rgba(16,16,16,.7) 73px, rgba(16,16,16,.7) 74px, transparent 74px, transparent 89px, rgba(16,16,16,.7) 89px, rgba(16,16,16,.7) 90px, transparent 91px, transparent 106px, rgba(44,44,128,.5) 106px, rgba(44,44,128,.5) 107px, transparent 107px, transparent 108px, rgba(44,44,128,.5) 108px, rgba(44,44,128,.5) 119px),
    repeating-linear-gradient(270deg, rgba(200,0,0,.8), rgba(200,0,0,.8) 2px, rgba(44,44,128,.6) 2px, rgba(44,44,128,.6) 12px, transparent 14px, transparent 15px, rgba(44,44,128,.6) 15px, rgba(44,44,128,.6) 16px, transparent 16px, transparent 31px, rgba(16,16,16,.8) 31px, rgba(16,16,16,.8) 32px, transparent 32px, transparent 47px, rgba(16,16,16,.8) 47px, rgba(16,16,16,.8) 48px, transparent 48px, transparent 49px, rgba(16,16,16,.8) 49px, rgba(16,16,16,.8) 60px, rgba(200,0,0,.8) 60px, rgba(200,0,0,.8) 61px, rgba(16,16,16,.8) 61px, rgba(16,16,16,.8) 72px, transparent 72px, transparent 73px, rgba(16,16,16,.8) 73px, rgba(16,16,16,.8) 74px, transparent 74px, transparent 89px, rgba(16,16,16,.8) 89px, rgba(16,16,16,.8) 90px, transparent 91px, transparent 106px, rgba(44,44,128,.6) 106px, rgba(44,44,128,.6) 107px, transparent 107px, transparent 108px, rgba(44,44,128,.6) 108px, rgba(44,44,128,.6) 119px);
}
  
.css_examples:nth-child(2){
    background-color: rgba(0,104,24,.7);
    background-image: repeating-linear-gradient(50deg, transparent, transparent 2px, rgba(0,104,24,.4) 2px, rgba(0,104,24,.4) 3px, transparent 3px, transparent 5px, rgba(0,104,24,.4) 5px),
    repeating-linear-gradient(rgba(200,0,0,.6), rgba(200,0,0,.6) 2px, rgba(44,44,128,.4) 2px, rgba(44,44,128,.4) 12px, transparent 14px, transparent 15px, rgba(44,44,128,.4) 15px, rgba(44,44,128,.4) 16px, transparent 16px, transparent 31px, rgba(16,16,16,.4) 31px, rgba(16,16,16,.4) 32px, transparent 32px, transparent 47px, rgba(16,16,16,.4) 47px, rgba(16,16,16,.4) 48px, transparent 48px, transparent 49px, rgba(16,16,16,.4) 49px, rgba(16,16,16,.4) 60px, rgba(200,0,0,.6) 60px, rgba(200,0,0,.6) 61px, rgba(16,16,16,.4) 61px, rgba(16,16,16,.4) 72px, transparent 72px, transparent 73px, rgba(16,16,16,.4) 73px, rgba(16,16,16,.4) 74px, transparent 74px, transparent 89px, rgba(16,16,16,.4) 89px, rgba(16,16,16,.4) 90px, transparent 91px, transparent 106px, rgba(44,44,128,.4) 106px, rgba(44,44,128,.4) 107px, transparent 107px, transparent 108px, rgba(44,44,128,.4) 108px, rgba(44,44,128,.4) 119px),
    repeating-linear-gradient(270deg, rgba(200,0,0,.7), rgba(200,0,0,.7) 2px, rgba(44,44,128,.5) 2px, rgba(44,44,128,.5) 12px, transparent 14px, transparent 15px, rgba(44,44,128,.5) 15px, rgba(44,44,128,.5) 16px, transparent 16px, transparent 31px, rgba(16,16,16,.5) 31px, rgba(16,16,16,.5) 32px, transparent 32px, transparent 47px, rgba(16,16,16,.5) 47px, rgba(16,16,16,.5) 48px, transparent 48px, transparent 49px, rgba(16,16,16,.5) 49px, rgba(16,16,16,.5) 60px, rgba(200,0,0,.7) 60px, rgba(200,0,0,.7) 61px, rgba(16,16,16,.5) 61px, rgba(16,16,16,.5) 72px, transparent 72px, transparent 73px, rgba(16,16,16,.5) 73px, rgba(16,16,16,.5) 74px, transparent 74px, transparent 89px, rgba(16,16,16,.5) 89px, rgba(16,16,16,.5) 90px, transparent 91px, transparent 106px, rgba(44,44,128,.5) 106px, rgba(44,44,128,.5) 107px, transparent 107px, transparent 108px, rgba(44,44,128,.5) 108px, rgba(44,44,128,.5) 119px);
}

/* Resume page */

#page-container__resume {
    padding: 20px;
    width: 75%;
}

.resume-heading {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom-style: double;
    border-bottom-width: 6px;
    border-bottom-color: #666;
    color: #111;
}

.resume-section {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    color: #111;
}

.resume-section a {
    font-size: 1rem;
    color: #111;
}

dl {

}

dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

dd {
    margin: 0 0 0 135px;
    padding: 0 0 0.5em 0;
}

.job-title {
    font-style: italic;
    font-size: 1rem;
}

.job-descr {
    font-size: 1rem;
}

.comptia-logo {
    width: 50%;
}